body {
    font-family: 'Nunito', sans-serif;
    background-color: black;    
}

p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

/* --- NAVBAR ---- */

.ml-5, .mx-5 {
    margin-left: 5rem!important;
}

.mr-5, .mx-5 {
    margin-right: 5rem!important;
}

.nav-item:hover{
    margin-bottom: 2px;
    border-bottom: 2px solid red;
    transition: 0.5s;
}

.nav-item.active{
    margin-bottom: 2px;
    border-bottom: 2px solid red;
}

.nav-link:hover {
    color: rgba(255,255,255,.75);
    transition: 0.5s;
}

.nav-item-r {
    background-color: #ff0000;
}

.nav-link {
    font-weight: bolder;
    font-size: 100%;
}

.bg-dark {
    background-color: #000000a1 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-nav {
    margin-right: 7em;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 20px;
}

.nav-item .current {
    margin-bottom: 2px;
    border-bottom: 2px solid red;
}

.logosig {
    width: auto;
    height: 58px;;
    margin-left: 7em;
}

/* ---- E JURIDICO SECTION ---- */

#ejuridico {
    background-image: url("/assets/img/background-1.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    height: 100vh;
}

.header-ejuridico {
    padding-top: 5%;    
    margin-top: 3%;
    color: white;
}

.header-ejuridico p{
    font-size: 350%;
    font-weight: 100;
}


.content-ejuridico p{
    font-size: 130%;
    font-weight: 600;
    color: white;
    padding-top: 2%;
}

.roll-button {
    
}

#roll-button {
        width: 25%;  
    }

/* ---- COMPRAR SECTION ----*/

#comprar {
    height: 45vmax;
    background-image: url(/assets/img/background-2.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.comprar-row {
    padding: 15px;
}

.header-comprar{
    padding-top: 5%;    
    margin-top: 3%;
    color: white;
}

.header-comprar h1 {
    font-size: 350%;
    font-weight: 100;
}

.comprar-text{
    font-size: 100%;
    font-weight: 700;
    text-align: right;
    
}

.comprar-card {
    padding-top: 18px;
    padding-left: 4px;
    padding-right: 4px;
}


.comprar-image img{
    width: 70px;
    height: 60px;
}

.btn{
    border-radius: 50px;
    background-color: #ff0000;
    border-color: #ff0000;
    width: 115px;
    height: 25px;
    font-weight: 800;
    padding-top: 1px;  
    font-size: 0.9rem;
}

.btn2 {
    border-radius: 50px;
    background-color: #ff0000;
    border-color: #ff0000;
    width: 115px;
    height: 25px;
    font-weight: 800;
    padding-top: 4px;  
    font-size: 0.7rem;
}

.button-content2 {
    padding-top: 4%;    
}

    
.button-content2 p{
    font-size: 0.6rem;
}

.comprar-margem {
    height: 56px; 
}

.modal-content {
    color: black;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    line-height: 40px;
    background-color: rgba(255, 255, 255, 0.86);
    padding: 20px;
}

/* ---- OPCOES SECTION ---- */

#opcoes {
    height: auto;
    padding-bottom: 25px;
    background: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-size: cover;
    color: #444242;
    text-align: center;
}

.opcoes-margin {
    margin-top: -5%;
}

.opcoes-header {
    background-color: #7b0000;
    padding-left: 0px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.opcoes-header p{
    font-size: 320%;
    font-weight: 100;
    color: white;
    position: relative;
}

.opcoes-main {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0.5%;
}

.opcoes-card-row {
    height: 224px;
}

.opcoes-card {
    margin-bottom: 1%;
    margin-top: 1%;
    width: 95%;
    height: 55%;
}

.opcoes-btn {
    border-radius: 50px;
    background-color: #ff0000;
    border-color: #ff0000;
    font-weight: 800;  
    font-size: 0.8rem;
}

.opcoes-btn:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.opcoes-card-img {
    height: 143px; 
    width:215px;
}

.opcoes-card-title{
    font-size: 150%;
    font-weight: 800;
    color: #e41717;
}

.opcoes-card-text {
    font-size: 115%;
    font-weight: 600;
    text-align: justify;
}

.opcoes-card-duration {
    font-size: 115%;
    font-weight: 600;
}

.opcoes-card-price {
    font-size: 180%;
    font-weight: 600;
}



/* ---- ONDE UTILIZAR SECTION ---- */

#onde-utilizar {
    background-image: url(/assets/img/background-3.png);
    height: 50vmax;
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
}

.onde-utilizar-header {
    padding-top: 6%;
    padding-bottom: 2%;
}

.onde-utilizar-header-title {
    font-size: 350%;
    font-weight: 100;
}

.onde-utilizar-header-subtitle {
    font-size: 1.5rem;
    font-weight: 600;
}

.onde-utilizar-cards {
    padding-left: 15%;
    padding-right: 15%;
}

.onde-utilizar-card1 {
    background: white;
    color: #444242;
    border-radius: 10%;
    width:12.8rem;
    height: 12.5rem;
    padding-top: 8%;
    margin-right: 4%;
    margin-left: 4%;
}

.onde-utilizar-card2 {
    background: white;
    color: #444242;
    border-radius: 10%;
    width:17rem;
    height: 12.5rem;
    padding-top: 3%;
    margin-right: 4%;
    margin-left: 4%;
}

.card-title {
    color: #e41717;
    font-weight: 900;
    font-size: 1.1rem;
    padding-top: 4%;
}

.card-image {
    width: 6rem;
    height: 3.5rem;
} 

.card-content {
    font-weight: 900;
}

.onde-utilizar-info {
    margin-top: 30px;
}

.onde-utilizar-newsletter {
    padding-top: 10px;
}

.btn3 {
    background-color: #ff0000;
    border-color: #ff0000;
    font-weight: 600;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 0.9rem;
    position: relative;
    bottom: 4px;
    right: 5px;
}

.rounded {
    border-radius: 1rem!important;
}

.form-control {
    width: 520px;
}

.footer {
    font-family: 'Nunito', sans-serif;
    background-color:black;
    color: white;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.footer p {
    font-size: 1rem;
    text-align: center;
    font-weight: 200;
}