body {
    font-family: 'Nunito', sans-serif;
    background-color: black;    
}

p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.ml-5, .mx-5 {
    margin-left: 5rem!important;
}

.mr-5, .mx-5 {
    margin-right: 5rem!important;
}


.nav-item:hover{
    margin-bottom: 2px;
    border-bottom: 2px solid red;
    transition: 0.5s;
}

.nav-item.active{
    margin-bottom: 2px;
    border-bottom: 2px solid red;
}

.nav-link:hover {
    color: rgba(255,255,255,.75);
    transition: 0.5s;
}

.nav-item-r {
    background-color: #ff0000;
}

.nav-link {
    font-weight: bolder;
    font-size: 100%;
}

.bg-dark {
    background-color: #000000a1 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-nav {
    margin-right: 7em;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 20px;
}

.nav-item .current {
    margin-bottom: 2px;
    border-bottom: 2px solid red;
}

.logosig {
    width: auto;
    height: 58px;;
    margin-left: 7em;
}

#ejuridico {
    background-image: url("/assets/img/background-1.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    width: auto;
    height: 50vmax;
    background-position: center;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
}

.header-ejuridico {
    padding-top: 5%;    
    margin-top: 3%;
    color: white;
}

.header-ejuridico p{
    font-size: 350%;
    font-weight: 100;
}

#roll-button {
    padding-top: 30%;
    width: 25%;
    margin-left: 30%;
}

.content-ejuridico p{
    font-size: 130%;
    font-weight: 600;
    color: white;
    padding-top: 2%;
}

#comprar {
    background-image: url(/assets/img/background-2.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    width: auto;
    height: 50vmax;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.comprar-row {
    padding: 15px;
}

.header-comprar{
    padding-top: 5%;    
    margin-top: 3%;
    color: white;
}

.header-comprar h1 {
    font-size: 350%;
    font-weight: 100;
}

.comprar-text{
    font-size: 100%;
    font-weight: 700;
    text-align: right;
}

.comprar-card {
    padding-top: 18px;
    padding-left: 4px;
    padding-right: 4px;
}

.comprar-image img{
    width: 70px;
    height: 60px;
    position: relative;
    left: 20px;
}

.btn{
    border-radius: 50px;
    background-color: #ff0000;
    border-color: #ff0000;
    width: 115px;
    height: 30px;
    font-weight: 800;
    padding-top: 6%;  
    font-size: 0.9rem;
    margin-top: 15%;
}

.btn2 {
    border-radius: 50px;
    background-color: #ff0000;
    border-color: #ff0000;
    width: 115px;
    height: 30px;
    font-weight: 900;
    padding-top: 10%;  
    font-size: 0.7rem;
    margin-top: 15%;
    cursor: pointer;
}

/*.comprar-content {
    position: relative;
    width: 100%;
    left: 60%;
    position: relative;
    transform: translateX(-50%);
}*/

.button-content2 {
    padding-top: 4%;    
}

    
.button-content2 p{
    font-size: 0.6rem;
}

.comprar-margem {
    height: 56px; 
}

.modal-content {
    color: black;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    line-height: 40px;
    background-color: rgba(255, 255, 255, 0.86);
    padding: 20px;
}

#opcoes {
    background: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    width: auto;
    height: 50vmax;
    background-position: center;
    background-size: cover;
    color: #444242;
    text-align: center;
}

.opcoes-header {
    font-weight: 100;
    background-color: #7b0000;
}

.opcoes-logo {
    width: 10rem;
    height: 7rem;
}

.header-content,
.header-content h1{
    background: #7b0000;    
    padding-top: 5px;;
    padding-bottom: 5px;
    color: white;
    font-size: 175%;
    text-align: center;
}

.btn-opcoes{
    width: auto;
}

.opcoes-main {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0.5%;
}

.opcoes-content h5, 
.opcoes-content h4 {
    line-height: 1.5rem;
}

.opcoes-content h3{
    font-weight: 500;
}

.opcoes-info {
    padding-top: 15px;
    margin-left: 30px;
}

.opcoes-info-products, 
.opcoes-info-content{
    text-align: justify;
    font-size: 0.65rem;
    font-weight: 600;
}

#comprar-margem {
    height: 59px;
}

#onde-utilizar {
    background-image: url(/assets/img/background-3.png);
    background-size: auto;
    width: auto;
    height: 50vmax;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
}

.onde-utilizar-header {
    padding-top: 6%;
    padding-bottom: 2%;
}

#header-title {
    font-size: 3rem;
    font-weight: 700;
}

#header-subtitle {
    font-size: 1.5rem;
    font-weight: 600;
}

.onde-utilizar-cards {
    padding-left: 15%;
    padding-right: 15%;
}

.onde-utilizar-card1 {
    background: white;
    color: #444242;
    border-radius: 10%;
    width:12.8rem;
    height: 12.5rem;
    padding-top: 8%;
    margin-right: 4%;
    margin-left: 4%;
}


.onde-utilizar-card2 {
    background: white;
    color: #444242;
    border-radius: 10%;
    width:17rem;
    height: 12.5rem;
    padding-top: 3%;
    margin-right: 4%;
    margin-left: 4%;
}

.card-title {
    color: #e41717;
    font-weight: 900;
    font-size: 1.1rem;
    padding-top: 4%;
}

.card-image {
    width: 6rem;
    height: 3.5rem;
} 

.card-content {
    font-weight: 900;
}

.onde-utilizar-info {
    margin-top: 30px;
}

.onde-utilizar-newsletter {
    padding-top: 10px;
}

.btn3 {
    background-color: #ff0000;
    border-color: #ff0000;
    font-weight: 600;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 0.9rem;
    position: relative;
    bottom: 4px;
    right: 5px;
}

.rounded {
    border-radius: 1rem!important;
}

.form-control {
    width: 520px;
}

.footer {
    font-family: 'Nunito', sans-serif;
    background-color:black;
    color: white;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.footer p {
    font-size: 1rem;
    text-align: center;
    font-weight: 200;
}