body {
    font-family: 'Nunito', sans-serif;
    background-color: black;
}

p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.ml-5, .mx-5 {
    margin-left: 5rem!important;
}

.mr-5, .mx-5 {
    margin-right: 5rem!important;
}

.nav-item:hover{
    margin-bottom: 2px;
    border-bottom: 2px solid red;
}

.nav-item-r {
    background-color: #ff0000;
}

.nav-link {
    font-weight: bolder;
    font-size: 100%;
}

.bg-dark {
    background-color: #000000a1 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 20px;
}

#logosig {
    width: 12%;
    height: auto;
    margin-left: 3em;
}

#ejuridico {
    background-image: url("/assets/img/background-1.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    width: auto;
    height: 55vmax;
    background-position: center;
    background-size: cover;
}

.header-ejuridico {
    padding-top: 5%;    
    margin-top: 3%;
    color: white;
}

.header-ejuridico h1 {
    font-size: 350%;
    font-weight: lighter;
}

#roll-button {
    width: 35%;
    margin-left: 30%;
}

.content-ejuridico p{
    font-size: 150%;
    font-weight: 600;
    color: white;
    padding-top: 1%;
}

#comprar {
    background-image: url(/assets/img/background-2.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    width: auto;
    height: 55vmax;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}

.header-comprar{
    padding-top: 5%;    
    margin-top: 3%;
    color: white;
}

.comprar-content {
    position: relative;
    width: 100%;
    left: 60%;
    position: relative;
    transform: translateX(-50%);
}

.header-comprar h1 {
    font-size: 350%;
    font-weight: lighter;
}

.header-comprar p{
    font-size: 150%;
    font-weight: 600;
    color: white;
}

.content-icons {
    width: 50%;
    height: 60%;
    left: 30%;
    position: relative;
    transform: translateX(-100%);
}


.btn{
    border-radius: 50px;
    background-color: #ff0000;
    border-color: #ff0000;
    width: 115%;
    height: auto;
    font-weight: 600;
    margin: 0;
}

.button-content1 {
    padding-top: 4%;
}

    
.button-content2 p{
    font-size: 0.78rem;
}


.button-content1 p{
    font-size: 0.8rem;

}

.content-text {
    font-size: 100%;
    font-weight: 900;
    text-align: right;
}

#opcoes {
    background: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    width: auto;
    height: 55vmax;
    background-position: center;
    background-size: cover;
    color: #444242;
    text-align: center;
}



.opcoes-header {
    margin-top: 2.7%;
}


.header-content,
.header-content h1{
    background: #7b0000;    
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    color: white;
    font-size: 175%;
    text-align: center;
}

.btn-opcoes{
    width: auto;
}

.opcoes-main {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0.5%;
}

.opcoes-button p{
    color: white;
    
}

.opcoes-button {
    width: 317px;
    padding-top: 5px;
}

.logo {
    width: 120px;
    height: 115px;
} 

.opcoes-content {

    font-weight: bolder;
    width: 88%;
    height: 82%;
}

.opcoes-content h5, 
.opcoes-content h4 {
    line-height: 1.5rem;
}

.opcoes-info-products, 
.opcoes-info-content{
    text-align: justify;
    font-size: 0.7rem;
}

#onde-utilizar {
    background-image: url(/assets/img/background-3.png);
    background-size: auto;
    width: auto;
    height: 55vmax;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
}

.onde-utilizar-header {
    padding-top: 9%;
    padding-bottom: 5%;
}

.onde-utilizar-card {
    background: white;
    color: #444242;
    border-radius: 10%;
    width:12.8rem;
    height: 15rem;
    padding: 8%;
    margin-right: 4%;
    margin-left: 4%;
}

.onde-utilizar-card-cert-jus {
    background: white;
    color: #444242;
    border-radius: 10%;
    width:18rem;
    height: 15rem;
    padding: 8%;
    margin-right: 4%;
    margin-left: 4%;
}

.card-title {
    color:#7b0000;
    font-weight: 900;
}

.card-image {
    width: 8rem;
    height: 5.5rem;
} 
