@media only screen and (max-width: 660px) {

    .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(195,1,1,1 )' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
    }

    .navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: #191919;
}

.bg-dark {
    background-color: #000000 !important;
}

    .logosig {
    width: auto;
    height: 35px;
    margin-left: 10px;

}
    #ejuridico {
        background-image: none;
        background-color: #444343;
        color: white;
        padding: 0;
        width: auto;
        height: auto;
    }

    .header-ejuridico p{
        font-size: 24px;
        font-weight: 500;
        padding-top: 20%;
        text-align: center; 
    }

    #roll-button {
        padding-top: 30%;
        width: 25%;
        margin-left: 35%;
    }

    .content-ejuridico .p1{
        font-size: 16px;
        font-weight: 300;
        color: white;
        padding-top: 18%;
        
    }

    .content-ejuridico .p2{
        font-size: 16px;
        font-weight: 300;
        color: white;
        padding-top: 5%;
        padding-left: 0.7%;
        padding-right: 0.7%;
        
    }

    #comprar{
        background-color: #26140c;
        background-image: none;
        color: white;
        width: auto;
        height: auto;
        padding: 0;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .header-comprar {   
        margin-top: 25px;
    }

    .header-comprar h1 {
        font-size: 24px;
        font-weight: 500;
    }

    .comprar-row {
        padding-right: 14px;
        padding-top: 0px;
        padding-left: 14px;
}
    .comprar-text{
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        padding-right: 0px;
        height: auto;
        width: auto;
        padding-left: 0px;
    }

    .comprar-image img{
        height: 35px;
        position: relative;
        left: 145px;
        top: 6px;
        width: 45px;
    }

    .comprar-card {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
    }

    .btn{
        border-color: #ff0000;
        width: 115px;
        height: 30px;
        font-weight: 800;
        padding-top: 6px;  
        border-radius: 50px;
        font-size: 0.9rem;
        position: relative;
        left: 70px;
        bottom: 25px;
        background-color: #ff0000;
    }

    .btn2 {
        border-color: #ff0000;
        width: 115px;
        height: 30px;
        font-weight: 800;
        padding-top: 8px;  
        font-size: 0.7rem;
        position: relative;
        left: 70px;
        bottom: 25px;
        border-radius: 50px;
        background-color: #ff0000;
    }

    #opcoes {
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: auto;
        width: auto;
        height: auto;
        background-position: center;
        background-size: cover;
        color: #7b0000;
        text-align: center;
        background: white;
}

    .opcoes-header {
        margin: 0;
        padding: 0;
        font-weight: 100;
        background-color: white;
}

    .header-content,
    .header-content h1{
        padding-top: 15px;
        color: #7b0000;
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        background: none;    
}

    .opcoes-card {
        padding: 5px;
}

.opcoes-header {
    font-weight: 0;
    margin-top: 0;
}

.opcoes-logo {
    height: 90px;
    width: 140px;
}

.btn-opcoes{
    width: auto;
}

.opcoes-main {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0.5%;
}

.opcoes-header p{
    font-size: 24px;
    font-weight: 500;
    margin-top: 4%;
    padding-left: 2%;
    padding-right: 2%;
    color: #7b0000;
    position: relative;
}

.opcoes-content-type {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}

.opcoes-content-duration {
    font-size: 1rem;
    margin-top: 1%;
    font-weight: 400;
    text-align: center;
}

.opcoes-content-price {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;    
}

    .opcoes-info {
        padding-left: 14px;
        padding-right: 14px;
        margin-left: 0;
}

    .opcoes-info-products, 
    .opcoes-info-content{
        text-align: justify;
        font-size: 0.65rem;
        font-weight: 600;
}

    .opcoes-logo {
        position: relative;
        left: 5px;
}

    .btn-opcoes {
        position: relative;
        left: 4.9rem;
        bottom: 0.9rem;
}

    #onde-utilizar {
        background-image: none;
        background-color: #6F480D;
        color: white;
        padding: 0;
        width: auto;
        height: auto;
}

.onde-utilizar-header {
    padding-top: 6%;
    padding-bottom: 2%;
}

#header-title {
    font-size: 24px;
    font-weight: 700;
}

#header-subtitle {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
}

.onde-utilizar-card {
    background: white;
    color: #444242;
    border-radius: 10%;
    width:12.8rem;
    height: 12.5rem;
    padding-top: 8%;
    margin-right: 4%;
    margin-left: 4%;
}

.onde-utilizar-card-cert-jus {
    background: white;
    color: #444242;
    border-radius: 10%;
    width:17rem;
    height: 12.5rem;
    padding-top: 3%;
    margin-right: 4%;
    margin-left: 4%;
}

.card-title {
    color: #e41717;
    font-weight: 900;
    font-size: 1.1rem;
    padding-top: 4%;
}

.card-image {
    width: 6rem;
    height: 3.5rem;
} 

.card-content {
    font-weight: 900;
}

.onde-utilizar-cards {
    padding: 0px;
}

.onde-utilizar-card1{
    margin-top: 25px;
}

.onde-utilizar-card2{
    margin-top: 25px;
}

.onde-utilizar-info {
    margin-top: 30px;
}

.onde-utilizar-info {
    font-size: 16px;
    font-weight: 300;
}

.onde-utilizar-newsletter {
    padding-top: 10px;
}

.btn3 {
    background-color: #ff0000;
    border-color: #ff0000;
    font-weight: 600;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 0.9rem;
    margin-top: 15px;   
    margin-left: 130px;
    padding: 10px;
}

.rounded {
    border-radius: 1rem!important;
}

.form-control {
    width: 520px;
}

.modal-content {
    color: black;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.86);
    padding: 5px;
    font-size: 15px;
}

.modal-content h1 {
    font-size: 10px;
}

.footer {
    font-family: 'Nunito', sans-serif;
    background-color:black;
    color: white;
}

.footer p {
    font-size: 0.9rem;
    text-align: center;
    font-weight: 200;
}

}



@media only screen and (min-width: 1920px) {

body {
    font-family: 'Nunito', sans-serif;
    background-color: black;    
}

p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.ml-5, .mx-5 {
    margin-left: 5rem!important;
}

.mr-5, .mx-5 {
    margin-right: 5rem!important;
}


.nav-item:hover{
    margin-bottom: 2px;
    border-bottom: 2px solid red;
    transition: 0.5s;
}

.nav-item.active{
    margin-bottom: 2px;
    border-bottom: 2px solid red;
}

.nav-link:hover {
    color: rgba(255,255,255,.75);
    transition: 0.5s;
}

.nav-item-r {
    background-color: #ff0000;
}

.nav-link {
    font-weight: bolder;
    font-size: 180%;
}

.bg-dark {
    background-color: #000000a1 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-nav {
    margin-right: 7em;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 20px;
}

.nav-item .current {
    margin-bottom: 2px;
    border-bottom: 2px solid red;
}

.logosig {
    width: auto;
    height: 5rem;
    margin-left: 7em;
}

#ejuridico {
    background-image: url("/assets/img/background-1.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    width: auto;
    height: 60vmax;
    background-position: center;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
}

.header-ejuridico {
    padding-top: 10%;    
    margin-top: 3%;
    color: white;
}

.header-ejuridico p{
    font-size: 500%;
    font-weight: 100;
}


.content-ejuridico p{
    font-size: 220%;
    font-weight: 500;
    color: white;
    padding-top: 2%;
}

#comprar {
    background-image: url(/assets/img/background-2.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    width: auto;
    height: 55.8vmax;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.comprar-row {
    padding: 15px;
}

.header-comprar{
    padding-top: 9%;    
    color: white;
}

.header-comprar h1 {
    font-size: 490%;
    font-weight: 300;
}

.comprar-text{
    font-size: 160%;
    font-weight: 700;
    text-align: right;
}

.comprar-card {
    padding-top: 3%;
    padding-left: 4px;
    padding-right: 4px;
}

.comprar-image img{
    width: 100%;
    height: 90%;
    position: relative;
    left: 15%;
}

.btn{
    border-radius: 50px;
    background-color: #ff0000;
    border-color: #ff0000;
    width: 130%;
    height: 50%;
    font-weight: 800;
    padding: 5%;  
    font-size: 1.3rem;
    margin-top: 15%;
}

.btn2 {
    border-radius: 50px;
    background-color: #ff0000;
    border-color: #ff0000;
    width: 130%;
    height: 30px;
    font-weight: 900;
    padding: 5%;  
    font-size: 0.9rem;
    margin-top: 15%;
    cursor: pointer;
}

/*.comprar-content {
    position: relative;
    width: 100%;
    left: 60%;
    position: relative;
    transform: translateX(-50%);
}*/

.button-content2 {
    padding-top: 4%;    
}

    
.button-content2 p{
    font-size: 0.6rem;
}

.comprar-margem {
    height: 56px; 
}

.modal-content {
    color: black;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    line-height: 40px;
    background-color: rgba(255, 255, 255, 0.86);
    padding: 5%;
}

.modal-lg {
    max-width: 80% !important;
    height: 100%;
}

.modal-content h3 {
    font-size: 280%;
}

.modal-content p {
    font-size: 220%;
}

#opcoes {
    background: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    width: auto;
    height: 60vmax;
    background-position: center;
    background-size: cover;
    color: #444242;
    text-align: center;
}

.opcoes-header {
    font-weight: 100;
    background-color: #7b0000;
}

.header-content p {
    font-size: 4.5rem;
}

.opcoes-logo {
    width: 15rem;
    height: 10rem;
    left: 6px;
    position: relative;
}

.header-content,
.header-content p{
    background: #7b0000;    
    padding-top: 5px;;
    padding-bottom: 5px;
    color: white;
    font-size: 220%;
    font-weight: 300;
    text-align: center;
}

.btn-opcoes{
    width: auto;
    left: 2px;
    top: -22px;
    position: relative;
}

.opcoes-main {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0.5%;
}

.opcoes-content-type {
    font-size: 1.9rem;
    font-weight: 400;
}

.opcoes-content-duration {
    font-size: 1.9rem;
    margin-top: 25px;
    font-weight: 400;
}

.opcoes-content-price {
    font-size: 2.4rem;
    font-weight: 600;
    
}

.opcoes-info {
    padding-top: 15px;
    margin-left: 30px;
}

.opcoes-info-products, 
.opcoes-info-content{
    text-align: justify;
    font-size: 1.1rem;
    font-weight: 600;
}

#comprar-margem {
    height: 59px;
}

#onde-utilizar {
    background-image: url(/assets/img/background-3.png);
    background-size: auto;
    width: auto;
    height: 60vmax;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
}

.onde-utilizar-header {
    padding-top: 6%;
    padding-bottom: 2%;
}

#header-title {
    font-size: 5rem;
    font-weight: 700;
}

#header-subtitle {
    font-size: 2.5rem;
    font-weight: 600;
}

.onde-utilizar-cards {
    padding-left: 15%;
    padding-right: 15%;
}

.onde-utilizar-card1 {
    background: white;
    color: #444242;
    border-radius: 10%;
    width:17.8rem;
    height: 18.5rem;
    padding-top: 9%;
    margin-right: 4%;
    margin-left: 4%;
}


.onde-utilizar-card2 {
    background: white;
    color: #444242;
    border-radius: 10%;
    width: 25rem;
    height: 19.5rem;
    padding-top: 6%;
    margin-right: 4%;
    margin-left: 4%;
}

.card-title {
    color: #e41717;
    font-weight: 900;
    font-size: 2.1rem;
    padding-top: 4%;
}

.card-image {
    width: 8rem;
    height: 5.5rem;
} 

.card-content {
    font-weight: 800;
    font-size: 1.5rem;
}

.onde-utilizar-info {
    margin-top: 30px;
    font-size: 1.5rem;
}

.onde-utilizar-newsletter {
    padding-top: 10px;
}

.btn3 {
    border-radius: 50px;
    background-color: #ff0000;
    border-color: #ff0000;
    font-weight: 800;
    font-size: 1.53rem;
    margin-top: 15%;
    position: relative;
    top: -17px;
}

.rounded {
    border-radius: 1rem!important;
}

.form-control {
    width: 720px;
}

.footer {
    font-family: 'Nunito', sans-serif;
    background-color:black;
    color: white;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.footer p {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300;
}
}

